<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/theme.css">
	<title>{{ page.title }}</title>
</head>
<body>	
	{% include article.html %}	
	<script>
	    var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date_to_string }}","excerpt":"{{post.excerpt}}"}{% endfor %}]{% endfor %} }',
	        data = JSON.parse(dataStr),
	    	render = function(){
	    		var html = '',
	    			hash = $.queryToObject($.hash()),	
	    			avchieves = hash.cat ? data[hash.cat] : [];
	    		avchieves.forEach(function(item){
			        html += '<li>' + 
			                '   <a href="{{ site.baseurl }}{{ site.categoryurl }}' + item.url + '">' +
			                '       <div class="clearfix">' +
			                '           ' + item.title + ' <span class="small">- ' + item.date + '</span>' + 
			                '       </div>' + 
			                '       <div class="excerpt dotdotdot">' + 
			                '           ' + item.excerpt +
			                '       </div>' + 
			                '   </a>' + 
			                '</li>';
			    });
			    document.getElementsByClassName('article-list')[0].innerHTML = html;
	    	};
	    	render();
	    
	    window.onhashchange = function(){
	    	render();
	    }
	</script>
</body>
</html>
